<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Existing Reservation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Sacramento&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'hotel_app/css/edit.css' %}">
</head>

<body>
    <ul id="header" class="nav navbar-expand-lg nav-fill">
        <a href="/">
            <img id="logo" src="{% static 'hotel_app/images/resort_logo.png' %}" />
        </a><br>
        <li class="nav-item">
            <a class="nav-link active" href="/rooms">ROOMS</a>
        </li>
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            RESERVATION
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/reservation">Make a Reservation</a>
            <a class="dropdown-item" href="/update">Update Existing Reservation</a>
        </div>
        <li class="nav-item">
            <a class="nav-link active" href="/dining">DINING</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/wellness">WELLNESS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/wedding">SPECIAL EVENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/contact">CONTACT US</a>
        </li>
    </ul>
    <h1 class="text-center">Change Your Reservation</h1>
    <br>
    <form action="/calculate_subtotal" id="update_form" method="POST">
        {% csrf_token %}
        <div class="form-row justify-content-center">
            <div class="form-group col-md-6">
                <label for="inputState">Room Type</label>
                <select id="room_type" class="form-control" name="room">
                    <option selected value="king">King Bed with Ocean View</option>
                    <option value="queen">Queen Beds with Ocean View</option>
                    <option value="deluxe">Deluxe Room with Ocean View</option>
                </select>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-3">
                <label for="start_date">Check In</label>
                <input type="date" name="check_in" value="{{check_in}}">

            </div>
            <div class="form-group col-md-3">
                <label for="end_date">Check Out</label>
                <input type="date" name="check_out" value="{{check_out}}">
            </div>
        </div>
        <div class="form-row justify-content-center">
            <p class="info">Your Reservation Number: {{reservation.id}}</p>
        </div>
        <button type="submit" class="btn">Update</button>
    </form>
</body>

</html>