.dropdown-toggle {
    margin-top: 20px;
}

a {
    color: #B3B2AF;
    font-family: 'Lora', serif;
    font-size: 12pt;
    margin-top: 13px;
}

p {
    color: #FFDE59;
    font-family: 'Niramit', sans-serif;
    margin-left: 10px;
}

#header {
    /* background-color: white; */
    margin-top: -25px;
}

h1 {
    font-family: 'Sacramento', cursive;
    color: #79C9C1;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #79C9C1;
}

p {
    color: #F29C38;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.reviews {
    color: #B3B2AF;
    font-style: italic;
}

.images {
    box-shadow: 5px 5px 5px #B3B2AF;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='teal' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}